@{
    ViewData["Title"] = "Home Page";
}
<div style="font-family: Arial, sans-serif; color: #2c3e50;">
    <div style="display: flex; justify-content: center; margin-top: 20px;">
        <div style="background-color: #ecf0f1; padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 300px;">
            <h5 style="font-size: 24px; font-weight: bold; color: #34495e; text-align: center;">Coach Login</h5>
            <p style="font-size: 16px; color: #7f8c8d; text-align: center;">Login as a Coach.</p>
            <div style="text-align: center;">
                <a href="@Url.Action("LoginCoach", "Account")" style="background-color: #3498db; border: none; padding: 10px 20px; border-radius: 4px; color: white; font-size: 16px; text-decoration: none;">Coach Login</a>
            </div>
        </div>
    </div>
</div>
<div style="font-family: Arial, sans-serif; color: #2c3e50;">
    <div style="display: flex; justify-content: center; margin-top: 20px;">
        <div style="background-color: #ecf0f1; padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 300px;">
            <h5 style="font-size: 24px; font-weight: bold; color: #34495e; text-align: center;">Member Login</h5>
            <p style="font-size: 16px; color: #7f8c8d; text-align: center;">Login as a Member.</p>
            <div style="text-align: center;">
                <a href="@Url.Action("LoginMember", "Account")" style="background-color: #3498db; border: none; padding: 10px 20px; border-radius: 4px; color: white; font-size: 16px; text-decoration: none;">Member Login</a>
            </div>
        </div>
    </div>
</div>
